<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="ec_custompallet_checkout_cart_product_add_after" instance="Ec\CustomPallet\Observer\CheckoutCartProductAddAfter"/>
    </event>
    <event name="checkout_cart_product_update_after">
        <observer name="ec_custompallet_checkout_cart_product_update_after" instance="Ec\CustomPallet\Observer\CheckoutCartProductUpdateAfter"/>
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="ec_custompallet_sales_model_service_quote_submit_before" instance="Ec\CustomPallet\Observer\SalesModelServiceQuoteSubmitBefore"/>
    </event>
    <event name="sales_model_service_quote_submit_failure">
        <observer name="ec_custompallet_sales_model_service_quote_submit_failure" instance="Ec\CustomPallet\Observer\SalesModelServiceQuoteSubmitFailure"/>
    </event>
</config>
