<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="express_commerce" translate="label" sortOrder="50">
            <label>Express commerce</label>
        </tab>
        <section id="custom_pallet" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Custom Pallet</label>
            <tab>express_commerce</tab>
            <resource>Ec_CustomPallet::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="product_ids" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom pallet id</label>
                    <comment>Insert comma separated product ids</comment>
                </field>
            </group>
        </section>
    </system>
</config>

