.pallatesContainer {
	clear:both;
	padding:40px 0;
}
.pallatesContainer *,
.pallatesContainer *:before,
.pallatesContainer *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** Clears **/
.DraggedPallates:after,
#wrapper:after{ display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}
.DraggedPallates,
#wrapper{ zoom:1;}


#options{
	width: 400px;
	border:1px solid black;
	float:right; padding:20px;
}
.pallates-grid{ max-height:394px; overflow:auto;}
.circle_swatch {
	margin-left:0px;
	margin-top:0px;
	border-radius: 50%;
	width: 41px;
	height: 41px;
	margin: 5px;
}
.product-info-main .product-options-bottom .box-tocart .field.qty .label{
	display:none;
}
/*.DraggedPallates{ background:url(../images/DraggedPallates.jpg) no-repeat 0 0; background-size:540px;}*/
.pallet-image{ position: relative; max-width: 600px; margin:0 auto 20px; background:rgba(0,0,0,.7) /*url(../images/bkg_pallet.png) no-repeat 0 0*/;}
.pallet-image > img{
	opacity:0;
}
.swatch-attribute .mageworx-swatch-option { border-radius: 100px; background-size: 60px !important; border:0!important; padding: 0; margin: 0 10px 10px 0;}
.product-add-form .product-options-wrapper .field .control{
	width:100%!important;
}
.mageworx-swatch-option.image:not(.disabled):hover, .mageworx-swatch-option.color:not(.disabled):hover{
	outline:0;
}

/*.pallet-image table.lgpallet_eye { top: 56px; left: 63px;}
.pallet-image table.lgpallet_eye .circle_eye { width: 54px;	height: 54px; margin: 5px 4px; background-position: 50%;}
.pallet-image table.lgpallet_face { top: 125px;	left: 65px;}
.pallet-image table.lgpallet_face .circle_face { width: 75px; height: 75px; margin: 5px 4px; background-position: 50%;}*/

#frame{
	width:650px;
	//background-image: url("../images/UK-Map.gif");
	background-repeat: repeat-y;
    	background-position: 0 0;
    	float:LEFT;
}
#frame h2{ text-transform:uppercase; margin-bottom:20px;}
#tbldevs{ overflow:hidden; padding:61px 0 50px 71px;
}

#tbldevs > .ui-droppable{ float:left; margin:12px 0 0 13px;}
#tbldevs > .ui-droppable:nth-child(5n+1){ clear:both;}

.drag1 {
	margin-left:15px;
	margin-top:15px;
	border-radius: 50%;
	 behavior: url(PIE.htc); float:left;

	width:64px;
	height:64px;
}



#drag2 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("../images/dw_32x32.png");
	width:32px;
	height:32px;
}

#drag3 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("../images/fla_32x32.png");
	width:32px;
	height:32px;
}

#drag4 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("../images/flex_32x32.png");
	width:32px;
	height:32px;
}

#drag5 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("../images/pdf_32x32.png");
	width:32px;
	height:32px;
}

#drag6 {
	margin-left:15px;
	margin-top:15px;
	background-image: url("../images/ps_32x32.png");
	width:32px;
	height:32px;
}

.ui-draggable-helperMoving {
	border: 1px dotted #000;
	padding: 6px;
	background: #fff;
	font-size: 1.2em;
	width:100px;
	height:100px;
}

.ui-draggable-helperStoped {
	border: 1px solid #000;
	width:5px;
	height:5px;
}



/* classes for dragged stuff */
.dragged1 {
	position:absolute;
	background-image: url("../images/cf_32x32.png");
	width:32px;
	height:32px;
}

.dragged2 {
	position:absolute;
	background-image: url("../images/dw_32x32.png");
	width:32px;
	height:32px;
}

.dragged3 {
	position:absolute;
	background-image: url("../images/fla_32x32.png");
	width:32px;
	height:32px;
}

.dragged4 {
	position:absolute;
	background-image: url("../images/flex_32x32.png");
	width:32px;
	height:32px;
}

.dragged5 {
	position:absolute;
	background-image: url("../images/pdf_32x32.png");
	width:32px;
	height:32px;
}

.dragged6 {
	position:absolute;
	background-image: url("../images/ps_32x32.png");
	width:32px;
	height:32px;
}


#element{
	border:1px solid red
}

.page-layout-1column.pallet-index-index .product-info-main {
	width: 100%;}

/****** LG Pallete Eye Face ******/

body .mageworx-swatch-option{
	border:0;
}

.product-info-main .product-options-bottom{
	position:relative;
	z-index:2;
}
.product-info-main .product-options-bottom .box-tocart .action.tocart{
	text-transform:uppercase;
}

.pallets-color-field .label{
	font-size: 15px;
	color: #000;
	text-transform:uppercase;
	margin: 20px 0 0!important;
	font-weight:normal!important;
	letter-spacing: 0.1em;
}
.pallets-color-field .label:before{
	content:'Color: ';
}

.pallates-switcher {
	margin-bottom: 20px;
	overflow: hidden;
}
.pallates-switcher > div {
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px;
    line-height: 22px;
    float: left;
    border: 1px #000 solid;
	font-size: 15px;
	text-transform:uppercase;
	letter-spacing: 0.1em;
}

.pallates-switcher > div.active{
	background:#000;
	color:#fff;
}
.pallates-switcher > div.active a{
	color:#fff;
}

#product-options-wrapper .instruction{
	margin-top: 20px;
	color: red;
	font-weight: bold;
	margin-bottom: 20px;
}
.swatch-fieldset .label,
.product-info-main .net-wt{
	display:none!important;
}

.product-info-main .product-options-bottom{
	padding-top:20px;
}
.product-info-main .product-new-price{
	position: relative;
	top: 10px;
}
.mageworx-swatch-option{
	z-index:2;
}